body {
  margin: 0;
  padding: 0;

  & > div {
    margin: 1rem;
  }
}

// Exercise 1
$percentColor: 8;
$text-color: white;

@function baseColorChooser($number) {
  @if ($number == 1) {
    @return #f44336;
  } @else if($number == 2) {
    @return #3f51b5;
  } @else {
    @return #4caf50;
  }
}

@function calculateDarkenColor($color, $number, $maximumNumber) {
    $invertNumber: $maximumNumber - $number;
    @return darken($color, $percentColor * $invertNumber);
}

@function calculateLightenColor($color, $number) {
  @return lighten($color, $percentColor * $number);
}

// Exercise 2
$template-theme: 1;

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Cantora+One&family=Comic+Neue:wght@700&family=Dancing+Script:wght@500&family=New+Rocker&display=swap');

// Exercise 3